workflows/n8n/andon_asana/andon-asana-daily-audio-v2.json
{
  "name": "Andon — Asana snapshot diário (IA + ElevenLabs TTS + Telegram áudio DM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "andon-audio-schedule-001",
      "name": "Schedule 07h BRT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "07:00 America/Sao_Paulo = 10:00 UTC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.adventurelabs.com.br/api/csuite/andon-asana-run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-admin-key",
              "value": "REPLACE_CRON_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "andon-audio-fetch-001",
      "name": "POST Andon Asana Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {},
      "notes": "x-admin-key deve ser CRON_SECRET do Admin"
    },
    {
      "parameters": {
        "jsCode": "const report = $json?.report;\nconst content = report?.content ?? '';\nconst title = report?.title ?? '';\n\n// Gera prompt para áudio curto (~20s). O Gemini deve responder EXCLUSIVAMENTE com JSON.\nconst prompt = `Você recebeu um relatório diário em Markdown (Andon/Asana). Crie um roteiro de locução em pt-BR para ~20 segundos (55 a 80 palavras), sem emojis.\n\nRegras:\n- Formato: JSON SOMENTE, sem Markdown, sem código-fence.\n- JSON com as chaves: audio_script (string).\n- audio_script deve ser texto corrido (sem listas), com:\n  1) 1 frase de abertura citando o tema do dia (se houver no título);\n  2) 3 prioridades principais como frases curtas (inclua responsável quando existir); \n  3) 1 frase final pedindo atenção/ação.\n- Não inclua cabeçalhos como \"##\" ou \"#\".\n\nTÍTULO: ${title}\n\nRELATÓRIO (Markdown):\\n${content}`;\n\nreturn [{ json: { reportTitle: title, reportContent: content, prompt } }];"
      },
      "id": "andon-audio-make-prompt-001",
      "name": "Make Audio Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Você é um assistente que transforma relatórios em roteiros de áudio. Responda SOMENTE com JSON válido. Não inclua markdown."
        }
      },
      "id": "andon-audio-gemini-001",
      "name": "Gemini Audio Script",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [900, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "andon-audio-gemini-model-001",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [900, 520]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json?.output ?? $json?.text ?? $json;\nconst rawStr = typeof raw === 'string' ? raw : JSON.stringify(raw);\n\n// Extrai JSON se vier em algum fence (fallback; ideal é já vir puro).\nlet jsonStr = rawStr.trim();\nconst match = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\nif (match) jsonStr = match[1].trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error(`Falha ao parsear JSON da IA. Saída recebida: ${rawStr.slice(0, 500)}`);\n}\n\nif (!parsed?.audio_script || typeof parsed.audio_script !== 'string') {\n  throw new Error(`JSON inválido (audio_script ausente). Recebido: ${jsonStr.slice(0, 500)}`);\n}\n\nreturn [{ json: { audio_script: parsed.audio_script.trim() } }];"
      },
      "id": "andon-audio-parse-001",
      "name": "Parse audio_script JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.adventurelabs.com.br/api/csuite/andon-tts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-admin-key",
              "value": "REPLACE_CRON_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.audio_script }) }}",
        "options": {}
      },
      "id": "andon-audio-tts-001",
      "name": "ElevenLabs TTS (base64)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {},
      "notes": "Chama o Admin (proxy TTS) para evitar bloqueio ElevenLabs no IP do Railway. x-admin-key = CRON_SECRET."
    },
    {
      "parameters": {
        "jsCode": "const BOT_TOKEN = 'REPLACE_TELEGRAM_BOT_TOKEN';\nconst CHAT_ID = '1069502175';\n\nconst audioBase64 = $json?.audio_base64;\nif (!audioBase64 || typeof audioBase64 !== 'string') {\n  throw new Error(`ElevenLabs: audio_base64 ausente. Chaves recebidas: ${Object.keys($json || {})}`);\n}\n\nconst audioBuffer = Buffer.from(audioBase64, 'base64');\n\nfunction buildMultipartFormData({ chatId, audioBuffer, boundary, fileName }) {\n  const CRLF = '\\r\\n';\n\n  const chatPart = Buffer.from(\n    `--${boundary}${CRLF}` +\n    `Content-Disposition: form-data; name=\"chat_id\"${CRLF}${CRLF}` +\n    `${chatId}${CRLF}`\n  );\n\n  const audioPartHeader = Buffer.from(\n    `--${boundary}${CRLF}` +\n    `Content-Disposition: form-data; name=\"audio\"; filename=\"${fileName}\"${CRLF}` +\n    `Content-Type: audio/mpeg${CRLF}${CRLF}`\n  );\n\n  const audioPartFooter = Buffer.from(`${CRLF}`);\n  const endPart = Buffer.from(`--${boundary}--${CRLF}`);\n\n  return Buffer.concat([chatPart, audioPartHeader, audioBuffer, audioPartFooter, endPart]);\n}\n\nconst boundary = '----n8n-andon-audio-' + Math.random().toString(16).slice(2);\nconst body = buildMultipartFormData({\n  chatId: CHAT_ID,\n  audioBuffer,\n  boundary,\n  fileName: 'andon.mp3',\n});\n\nconst url = `https://api.telegram.org/bot${BOT_TOKEN}/sendAudio`;\n\n// n8n 2.x task runner: fetch não existe no sandbox — usar helpers.httpRequest\nconst raw = await this.helpers.httpRequest({\n  method: 'POST',\n  url,\n  headers: {\n    'Content-Type': `multipart/form-data; boundary=${boundary}`,\n  },\n  body,\n  json: false,\n});\n\nconst data = typeof raw === 'string' ? JSON.parse(raw) : raw;\nif (!data || data.ok !== true) {\n  throw new Error(`Telegram sendAudio falhou: ${JSON.stringify(data).slice(0, 500)}`);\n}\n\nreturn [{ json: { ok: true, telegram: data, chatId: CHAT_ID } }];"
      },
      "id": "andon-audio-send-telegram-001",
      "name": "Send Telegram Audio (DM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Schedule 07h BRT": {
      "main": [
        [
          {
            "node": "POST Andon Asana Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Andon Asana Run": {
      "main": [
        [
          {
            "node": "Make Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Audio Prompt": {
      "main": [
        [
          {
            "node": "Gemini Audio Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse audio_script JSON": {
      "main": [
        [
          {
            "node": "ElevenLabs TTS (base64)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS (base64)": {
      "main": [
        [
          {
            "node": "Send Telegram Audio (DM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Audio Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Audio Script": {
      "main": [
        [
          {
            "node": "Parse audio_script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
